form {
    border: solid;
    border-color: #e47338;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.error_span {
    padding-bottom: 25px;
}

.name,
.last_name,
.gender,
.weight,
.email,
.password {
    padding-bottom: 25px;
}


.name input,
.last_name input,
.weight input,
.email input,
.password input {
    height: 25px;
    border-radius: 4px;
    border: 1px solid;
}

input:hover {
    border-color: #e47338;
}

.name label,
.last_name label,
.gender label,
.weight label,
.email label,
.password label,
span {
    font-family: Arial, Helvetica, sans-serif;
    color: #e47338;
}

.name label {
    padding-right: 46px;
}

.last_name label {
    padding-right: 8px;
}

.gender label {
    padding-right: 35px;
}

.weight label {
    padding-right: 52px;
}

.email label {
    padding-right: 50px;
}

.password label {
    padding-right: 45px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttons button {
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: #e47338;
    background-color: black;
    padding: 5px;
    border-color: #e47338;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #e8eb59;
}