.side_menu {
    background-color: black;
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100vh;
    width: 250px;
    align-items: center;
}

.week_days span {
    cursor: pointer;
    display: block;
    font-family: sans-serif;
    color: #e47338;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo img {
    width: 250px;
    height: 230px;
}